#salut{
    width: 300px;
	height: 300px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
	justify-content: center;
	
	border: 2px solid black;
	padding:20px;
	border-radius: .5em;

	background-color: lightgrey;
}

#display{
	border: 2px solid black;
	border-radius: .1em;
	width: 300px;
	text-align: right;
	padding:.1rem;

	background-color: white;
}

.button{
	width:3rem;
	margin:.1rem;
}